<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
        <img src="~/img/fdl_logo_1.png" alt="FDL Logo" class="brand-image" style="opacity: .8">
        <span class="brand-text font-weight-light">Identidad Integral</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Companies" asp-action="Index">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>Compañia</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Companies" asp-action="Index">
                        <i class="nav-icon fas fa-user"></i>
                        <p>Proyectos</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Companies" asp-action="Index">
                        <i class="nav-icon fas fa-user"></i>
                        <p>Usuarios</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Companies" asp-action="Index">
                        <i class="nav-icon fas fa-user"></i>
                        <p>Roles</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Companies" asp-action="Index">
                        <i class="nav-icon fas fa-user"></i>
                        <p>Acciones</p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
